@font-face {
    font-family: "main";
    src: url("/thems/fonts/AvanteInt.ttf") format("truetype");
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "main";
    min-width: 1200px;
    background-color: #fff;
    background: url("/thems/img/fon/fon.png");
    background-position: 0 150%;
}

.line1 {
    width: 100%;
    height: 100vh;
    min-height: 600px;
}

.line1_head_menu {
    background-color: #0e1c1f;
    width: 100%;
    height: 86px;
    display: flex;
    flex-wrap: wrap;
}

.line1_head_menu_logo {
    font-size: 36px;
    color: #fff;
    padding: 20px 0 0 40px;
    flex-grow: 1;
    justify-content: center;
}

.line1_head_menu_logo1 {
    font-size: 24px;
    color: #fff;
    padding: 30px 30px 0 30px;
    margin-left: auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.line1_head_menu_auth {
    font-size: 24px;
    color: #fff;
    padding: 16px 40px 0 60px;
    margin-left: auto;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-wrap: wrap;
}

.ava_l1 {
    width: 48px;
    height: 48px;
    border-radius: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 10px 0 0;
    border: solid #fefefe 3px;
}

.line1_head_menu_auth_text {
    font-size: 14px;
    color: #fff;
    flex-shrink: 0;
    flex-grow: 0;
    width: 150px;
    margin: 0 0px 0 20px;
}

.line1_head_menu_auth_text_1 {
    padding: 5px 0 0 0;
}

.name_projekt_innmain {
    color: #0e1c1f;
    width: 100%;
    text-align: center;
    margin: 20vh 0 0 0;
    font-size: 78px;
}

.name_projekt_innmain_d {
    color: #0e1c1f;
    width: 100%;
    text-align: center;
    margin: 3vh 0 0 0;
    font-size: 48px;
}

.name_projekt_innmain_b {
    color: #fefefe;
    text-align: center;
    margin: 10vh calc(50% - 180px) 0 calc(50% - 180px);
    font-size: 36px;
    padding: 10px 30px;
    background-color: #0e1c1f;
    border-radius: 10px;
    width: 300px;
}

.name_projekt_innmain_b:hover {
    background-color: #15292e;
}

.line_box {
    background: url("/thems/img/blochline.png") no-repeat;
    background-size: cover, cover;
    width: 100%;
    height: 159px;
    margin: -159px 0 0 0;
}

.line2 {
    width: 100%;
}

.golos_block {
    width: 80%;
    margin: 10vh 10%;
    display: flex;
    justify-content: center;
}

.server_block {
    width: 280px;
    height: 500px;
    background: #fff;
    margin: 10vh auto;
    box-shadow: 0 0 10px 10px #c4c4c4;
    border-radius: 5px;
}

.server_spawn_img {
    background: url("http://skyvoxel/img/spawn1.png");
    height: 200px;
    width: 280px;
    border-radius: 5px 5px 0 0;
}

.server_spawn_nameserver {
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding: 50px 0 0 0;
}

.server_spawn_serverico_block {
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 20px 3px #4d4c4c;
    border-radius: 50px;
    margin: 30px auto;
}

.server_spawn_serverico_block img {
    margin: 18px;
}

.server_spawn_server_string {
    width: 220px;
    text-align: center;
    margin: 10px 30px;
    padding: 10px 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.server_spawn_server_button {
    width: 100px;
    padding: 10px 20px;
    margin: 20px auto 1px auto;
    border: 1px solid #0e1c1f;
    border-radius: 50px;
    text-align: center;
}

.line3 {
    width: 100%;
}

.line3_head {
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.news_baner {
    width: 129vh;
    height: 80vh;
    margin: 8vh auto 10vh auto;
}

.news_item img {
    width: 129vh;
    height: 80vh;
}

.block_golosovaniya {
    width: 80%;
    min-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.block_golosovaniya_item {
    width: 250px;
    height: 280px;
    background-color: #fff;
    margin: 20px auto 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px #c4c4c4;
    background-color: #ecf5fd;
}

.block_golosovaniya_item_img {
    width: 100px;
    height: 100px;
    margin: 30px auto;
    box-shadow: 0 0 10px 10px #c4c4c4;
    border-radius: 50px;
}

.block_golosovaniya_item_img img {
    width: 64px;
    height: 64px;
    margin: 18px;
}

.name_top_gol_proj {
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.name_top_gol_proj_button {
    width: 100px;
    padding: 10px 20px;
    margin: 20px auto 1px auto;
    border: 1px solid #0e1c1f;
    border-radius: 50px;
    text-align: center;
}

.block_golosovaniya_top {
    width: 80%;
    min-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.block_golosovaniya_top2 {
    width: 250px;
    height: 250px;
    padding: 25px;
}

.block_golosovaniya_top1 {
    width: 280px;
    height: 280px;
    padding: 10px;
}

.namber {
    width: 100%;
    text-align: center;
    font-size: 21px;
}

.block_golosovaniya_opisa p {
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
    text-align: justify;
}

.footer {
    width: 100%;
    height: 400px;
    background-color: #0e1c1f;
}

.footer_block {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    color: #fff;
}

.footer_block_left {
    float: left;
    margin: 50px 0 0 0;
}

.footer_block_right {
    float: right;
    margin: 50px 0 0 0;
    width: 200px;
}

.auth_form {
    width: 500px;
    margin: 100px auto;
    box-shadow: 0 0 10px 10px #c4c4c4;
    border-radius: 9px;
    background: url('/thems/img/formfon.jpg');
    background-color: rgba(0, 50, 50, 0.5);
}

.auth_form_head {
    display: flex;
    padding: 10px 10px;
    font-size: 21px;
}

.auth_form_head_l {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: #777;
}

.auth_form_head_l_activ {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.login_form {
    margin: 20px 0 0 0;
}

.login_form_input {
    width: 280px;
    margin: 12px 90px;
    font-size: 18px;
    padding: 5px 5px 5px 30px;
    border-radius: 40px;
    border: 2px solid #999;
    background-color: #bbb;
}

.login_form_but {
    width: 315px;
    font-size: 18px;
    border-radius: 40px;
    border: 2px solid rgb(82, 82, 82);
    background-color: #bbb;
    margin: 12px 90px 30px 90px;
    height: 38px;
}

.auth_form p {
    padding: 10px 30px;
    font-size: 12px;
}

.line1_lc {
    width: 100%;
}

.lc_box {
    width: 100%;
    min-width: 1200px;
    display: flex;
}

.lc_box_menu {
    flex: 1;
    max-width: 300px;
    min-width: 300px;
}

.lc_box_mine {
    flex: auto;
    padding: 10px;
}

.lc_box_menu_element {
    padding: 10px 0 10px 25px;
    border-bottom: 1px solid #ddd;
}

.lc_box_menu_el1 {
    min-height: 20px;
    min-width: 10px;
    border-top: 1px solid #ddd;
}

.tab_banlist {
    width: 1100px;
    margin: 80px auto 30px auto;
    background: #f3f3f3;
    padding: 50px;
    box-shadow: 0 0 10px 10px #c4c4c4;
    font-size: 28px;
}

.tab_banlist_ln {
    font-size: 16px;
    display: flex;
    margin: 10px 0;
    background-color: #d5d2d2;
    margin: 5px 0;
    text-align: center;
}

.tab_banlist_td1 {
    flex: 2;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    padding: 10px 10px;
}

.tab_banlist_td2 {
    flex: 3;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    padding: 10px 10px;
}

.tab_banlist_td3 {
    flex: 3;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    padding: 10px 10px;
}

.tab_banlist_td4 {
    flex: 2;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    padding: 10px 10px;
}

.tab_banlist_td5 {
    flex: 2;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    padding: 10px 10px;
}

.opis_serv_s1 {
    width: 1200px;
    margin: 20px auto;
}

.opis_serv_h1 {
    font-size: 32px;
}

.opis_serv_tabl {
    display: flex;
}

.opis_serv_tabl_el {
    flex: 1;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px 10px #c4c4c4;
    border-radius: 5px;
}

.opis_serv_tabl_el_h2 {
    font-size: 24px;
}

.opis_serv_tabl_el_text {
    font-size: 30px;
}

.opis_serv_tabl_el1 {
    padding: 10px;
    margin: 30px 10px;
    box-shadow: 0 0 10px 10px #c4c4c4;
    border-radius: 5px;
}

.opis_serv_tabl_el_text1 {
    font-size: 18px;
}

.download_h3 {
    width: 1200px;
    margin: 30px auto;
    padding: 30px;
    font-size: 48px;
}

.download_block {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    display: flex;
}

.download_block_small {
    flex: 1;
    margin: 20px 60px;
    box-shadow: 0 0 10px 10px #c4c4c4;
    min-height: 300px;
    border-radius: 5px;
    width: 300px;
    background-color: #fff;
}

.download_block_small_img {
    height: 130px;
    z-index: 5;
    padding: 60px 0 0 0;
    background: #fff;
    background-size: 50%;
    text-align: center;
    color: #fefefe;
    font-size: 24px;
    border-radius: 5px 5px 0 0;
    background-position: center;
    background-size: 300px;
}

.download_block_ico {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px auto 0 auto;
    background: #eee;
    z-index: 2;
    box-shadow: 0 0 5px 2px #a1a1a1;
}

.download_block_ico1img {
    width: 58px;
    padding: 21px;
}

.download_block_text {
    padding: 50px 10px 10px 10px;
    text-align: center;
    line-height: 1.7;
}

.server_total {
    width: 1200px;
    margin: 0 auto 200px auto;
    display: flex;
}

.server_total_item {
    flex: 1;
    text-align: center;
}

.server_total_head {
    font-size: 42px;
}

.server_total_text {
    font-size: 38px;
}

.lc_head_h3 {
    padding: 10px 0 20px 30px;
    font-size: 24px;
}

.lc_inventar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.lc_inventar_item {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    flex: 1;
    margin: 20px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 10px #c4c4c4;
    border-radius: 5px;
    border: 2px solid #787878;
    background-color: #e9e9e9;
}

.lc_inventar_item img {
    width: 64px;
    height: 64px;
    margin: 8px 18px 2px 18px;
}

.lc_inventar_item_kol {
    margin: -10px 30px;
    border: 2px solid #777;
    padding: 2px 1px 0px 1px;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
}

#rar1 {
    border: 2px solid #555;
    background-color: #e9e9e9;
}

#rar2 {
    border: 2px solid #69c70d;
    background-color: #c0e89a;
}

#rar3 {
    border: 2px solid #0214c1;
    background-color: #a3a6c6;
}

#rar4 {
    border: 2px solid #6d00dd;
    background-color: #caa5ef;
}

#rar5 {
    border: 2px solid #ce08d5;
    background-color: #f3bbf5;
}

#rar6 {
    border: 2px solid #da1414;
    background-color: #f1afaf;
}

#rar7 {
    border: 2px solid #f6d51e;
    background-color: #fdf1ae;
}

.action_fon_100x100_b9 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/thems/img/buckImg/fonBlack90.png);
    position: fixed;
}

.action_windows {
    width: 500px;
    height: 170px;
    margin: calc(50vh - 150px) calc(50vw - 250px);
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.action_windows_head {
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 1px solid #999;
    font-size: 18px;
}

.action_windows_body {
    width: 100%;
    display: flex;
}

.action_windows_body_l1 {
    flex: 1;
}

.action_windows_body_l3 {
    flex: 4;
}

.action_windows_body_l3 form {
    display: flex;
}

.action_windows_body_l1 img {
    margin: 30px;
    border: 1px solid #6d00dd;
}

.action_windows_text_inp_big {
    width: 185px;
    height: 40px;
    margin: 40px 10px 0 10px;
    border: 1px solid #6d00dd;
    font-size: 28px;
    padding: 4px 10px 0 4px;
    display: block;
    text-align: center;
}

.action_windows_text_inp_big1 {
    width: 325px;
    height: 40px;
    margin: 40px 10px 0 10px;
    border: 1px solid #6d00dd;
    font-size: 24px;
    padding: 4px 10px 0 4px;
    display: block;
    text-align: center;
}

.action_windows_but_inp_big {
    width: 120px;
    height: 44px;
    margin: 40px 10px 0 10px;
    border: 1px solid #6d00dd;
    font-size: 16px;
    display: block;
    color: #6d00dd;
}

.action_windows1 {
    width: 500px;
    height: 70px;
    margin: calc(50vh - 150px) calc(50vw - 250px);
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 50px 10px;
}

.lc_main_content_box {
    display: flex;
    flex-wrap: wrap;
}

.lc_main_content_el {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    border: 1px solid #aeaeae;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px #c4c4c4;
    background-color: #fff;
}

.lc_main_content_el_head {
    width: 200px;
    padding: 50px;
    background-color: #6d00dd;
    text-align: center;
    font-size: 28px;
    border-radius: 5px 5px 0 0;
}

.lc_main_content_el_text {
    padding: 0 20px;
    margin: 15px 0;
    text-align: left;
    font-size: 18px;
}

.nlc_main_content_el_button {
    width: 200px;
    padding: 10px 20px;
    margin: 20px auto 20px auto;
    border: 1px solid #0e1c1f;
    border-radius: 50px;
    text-align: center;
}

.mail_sys_res_box {
    width: 1200px;
    margin: 30px auto;
}

.mail_sys_res_box_mas_s {
    width: 600px;
    padding: 50px;
    border: 2px solid green;
    font-size: 32px;
    margin: auto;
}

.mail_sys_res_box_mas_r {
    width: 600px;
    padding: 50px;
    border: 2px solid red;
    font-size: 32px;
    margin: auto;
}

.action_windows_h1 {
    width: 500px;
    height: 340px;
    margin: calc(50vh - 150px) calc(50vw - 250px);
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.action_windows_text_inp_big2 {
    width: 425px;
    height: 40px;
    margin: 20px 25px 0px 25px;
    border: 1px solid #6d00dd;
    font-size: 24px;
    padding: 4px 10px 0 4px;
    display: block;
    text-align: center;
}

.action_windows_but_inp_big1 {
    width: 425px;
    height: 44px;
    margin: 20px 10px 0 30px;
    border: 1px solid #6d00dd;
    font-size: 16px;
    display: block;
    color: #6d00dd;
}